function Level.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Level.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Level.startLevel 1
push argument 0
pop pointer 0
push pointer 0
call Level.drawCards 1
pop temp 0
push pointer 0
call Level.drawWizard 1
pop temp 0
push constant 20
push constant 1
call Output.moveCursor 2
pop temp 0
push constant 38
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push constant 0
return
function Level.drawCards 0
push argument 0
pop pointer 0
push constant 0
push constant 0
push constant 70
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 80
push constant 0
push constant 150
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 160
push constant 0
push constant 230
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 0
push constant 310
push constant 100
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 20
push constant 30
push constant 50
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 100
push constant 30
push constant 130
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 180
push constant 30
push constant 210
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 260
push constant 30
push constant 290
push constant 70
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 4
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 1
call Output.printInt 1
pop temp 0
push constant 4
push constant 14
call Output.moveCursor 2
pop temp 0
push constant 2
call Output.printInt 1
pop temp 0
push constant 4
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 3
call Output.printInt 1
pop temp 0
push constant 4
push constant 34
call Output.moveCursor 2
pop temp 0
push constant 4
call Output.printInt 1
pop temp 0
push constant 0
push constant 110
push constant 70
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 80
push constant 110
push constant 150
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 160
push constant 110
push constant 230
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 110
push constant 310
push constant 210
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 20
push constant 140
push constant 50
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 100
push constant 140
push constant 130
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 180
push constant 140
push constant 210
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 260
push constant 140
push constant 290
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 14
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 5
call Output.printInt 1
pop temp 0
push constant 14
push constant 14
call Output.moveCursor 2
pop temp 0
push constant 6
call Output.printInt 1
pop temp 0
push constant 14
push constant 24
call Output.moveCursor 2
pop temp 0
push constant 7
call Output.printInt 1
pop temp 0
push constant 14
push constant 34
call Output.moveCursor 2
pop temp 0
push constant 8
call Output.printInt 1
pop temp 0
push constant 0
return
function Level.drawWizard 0
push argument 0
pop pointer 0
push constant 410
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 410
push constant 50
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 409
push constant 80
push constant 411
push constant 190
call Screen.drawRectangle 4
pop temp 0
push constant 409
push constant 190
push constant 380
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 410
push constant 190
push constant 381
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 411
push constant 190
push constant 382
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 409
push constant 190
push constant 440
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 410
push constant 190
push constant 441
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 411
push constant 190
push constant 442
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 409
push constant 130
push constant 370
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 410
push constant 130
push constant 371
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 411
push constant 130
push constant 372
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 409
push constant 130
push constant 450
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 410
push constant 130
push constant 451
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 411
push constant 130
push constant 452
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 0
return
